@using CashReceipts.Models
@{
    ViewBag.Title = "Home Page";
}

<h1>Cash Receipting System</h1>
<div style="height: 70%"></div>

@*<ul>
    @foreach (var item in (List<Template>)ViewData["lst"])
    {
        <li>@item.Description</li>
    }
</ul>*@