# .Net Specific #
###################
_ReSharper.*
*.resharper
.svn*
obj/
bin/
*.suo
*.user
Log/
log/
*.db
[Oo]bj
[Bb]in
packages/
PublishProfiles/
.vs/
/CashReceipts/App_Data/HPENVY.mdf
/CashReceipts/App_Data/HPENVY_log.ldf
/Others/AccountNumber_Update.sql
