@model IEnumerable<CashReceipts.Models.Department>

@{
    ViewData["Title"] = "Departments View";
}

<p>
    <h4>Departments</h4>
@if (ViewBag.isCreate == true)
{@Html.ActionLink("Create New", "Create")}
</p>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-defaultsort='disabled'>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (ViewBag.isEdit == true)
                    { @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID })} &nbsp;
                    @if (ViewBag.isDetails == true)
                    {@Html.ActionLink("Details", "Details", new { id = item.DepartmentID })} &nbsp;
                    @if (ViewBag.isDelete == true)
                    {@Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })}
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_HighlightMenu", "Departments")

@section scripts{
    <script src="~/Scripts/bootstrap-sortable.js"></script>
}

@section styles
{
    <link href="~/Content/bootstrap-sortable.css" rel="stylesheet" />
}
