@model dynamic

@{
    ViewBag.Title = "System Reports";
}
@section styles{
    <link href="~/Content/KendoBoxStyles.css?t=1234567" rel="stylesheet" />
    <link href="~/Content/DaySummaryReport.css?t=1234567" rel="stylesheet" />
}

<div id="example">
    <div class="box wide hidden-on-narrow">
        <div class="box-col" style="padding-right: 10px;">
            <h4>Start Date</h4>
            <input id="datepickerStart" style="width: 100%" />
        </div>
        <div class="box-col" style="padding-right: 10px;">
            <h4>End Date</h4>
            <input id="datepickerEnd" style="width: 100%" />
        </div>
        @if (ViewBag.isExport == true)
        { 
            <div class="box-col">
                <h4>Receipts</h4>
                <button class="export-csv-receipts k-button" onclick="getReceipts()">Export</button>
            </div>
        }
        @if (ViewBag.isExportLineItems == true)
        {
            <div class="box-col">
                <h4>Line Items</h4>
                <button class="export-csv-lineitems k-button" onclick="getLineItems()">Export</button>
            </div>
        }
        @if (ViewBag.isExportTenders == true)
        {
            <div class="box-col">
                <h4>Tenders</h4>
                <button class="export-csv-tenders k-button" onclick="getTenders()">Export</button>
            </div>
        }
        @if (ViewBag.isExportAll== true)
        {
            <div class="box-col">
                <h4>Receipts With Details</h4>
                <button class="export-csv-tenders k-button" onclick="getAll()">Export</button>
            </div>
        }
    </div>

    <div class="responsive-message"></div>

    <script>
        function getSelectedDate() {
            return kendo.toString($("#datepicker").data("kendoDatePicker").value(), "d");
        }

        function getReceipts() {
            $("#exportReceiptCSV").submit();
        }

        function getLineItems() {
            $("#exportLineItemsCSV").submit();
        }

        function getTenders() {
            $("#exportTendersCSV").submit();
        }

        function getAll() {
            $("#exportAllCSV").submit();
        }

        $(document)
            .ready(function () {
                
                $("#datepickerStart")
                    .kendoDatePicker({
                        format: "MM/dd/yyyy",
                        value: new Date(),
                        change: function () {
                            var value = this.value();
                            $('[name="StartDate"]').val(kendo.toString(value, "d"));
                        }
                    });

                $("#datepickerEnd")
                    .kendoDatePicker({
                        format: "MM/dd/yyyy",
                        value: new Date(),
                        change: function () {
                            var value = this.value();
                            $('[name="EndDate"]').val(kendo.toString(value, "d"));
                        }
                    });

                $('[name="StartDate"]').val(kendo.toString($("#datepickerStart").data("kendoDatePicker").value(), "d"));
                $('[name="EndDate"]').val(kendo.toString($("#datepickerEnd").data("kendoDatePicker").value(), "d"));

            });

    </script>
</div>

@Html.Partial("_HighlightMenu", "Reports")

@using (Html.BeginForm("DownloadReceipts", "SysReports", FormMethod.Post, new { id = "exportReceiptCSV" }))
{
    <input type="hidden" name="StartDate" />
    <input type="hidden" name="EndDate" />
}


@using (Html.BeginForm("DownloadLineItems", "SysReports", FormMethod.Post, new { id = "exportLineItemsCSV" }))
{
    <input type="hidden" name="StartDate" />
    <input type="hidden" name="EndDate" />
}


@using (Html.BeginForm("DownloadTenders", "SysReports", FormMethod.Post, new { id = "exportTendersCSV" }))
{
    <input type="hidden" name="StartDate" />
    <input type="hidden" name="EndDate" />
}

@using (Html.BeginForm("DownloadAll", "SysReports", FormMethod.Post, new { id = "exportAllCSV" }))
{
    <input type="hidden" name="StartDate" />
    <input type="hidden" name="EndDate" />
}

