@model dynamic

@{
    ViewBag.Title = "System Reports";
}
@section styles{
    <link href="~/Content/KendoBoxStyles.css" rel="stylesheet" />
    <link href="~/Content/DaySummaryReport.css" rel="stylesheet" />
}

<div id="example">
    <div class="box wide hidden-on-narrow">
        <div class="box-col">
        </div>
        <div class="box-col">
        </div>
        <div class="box-col">
        </div>
        <div class="box-col">
            <h4>Select Page size</h4>
            <select id="paper" style="width: 100px;">
                <option value="size-a4" selected>A4</option>
                <option value="size-letter">Letter</option>
                <option value="size-executive">Executive</option>
            </select>
        </div>
        <div class="box-col" style="padding-right: 10px;">
            <h4>Select Date</h4>
            <input id="datepicker" style="width: 100%" />
        </div>
        <div class="box-col">
            <img src="/Images/ajax-loader.gif" class="summaryLoading" style="display: none; padding-top: 40px">
        </div>
        <div class="box-col">
            <h4>Get PDF</h4>
            <button class="export-pdf k-button" onclick="getPDF('.pdf-page')">Export</button>
        </div>
        <div class="box-col">
            <h4>Print Report</h4>
            <button class="export-pdf k-button" onclick="printReport('.pdf-page')">Print</button>
        </div>
    </div>

    <div class="page-container hidden-on-narrow">
        <div class="pdf-page size-a4">
            <div class="pdf-header">
                <span class="company-logo">
                    <img src="~/Images/company_logo.jpg" /> Cash Receipting System
                </span>
                <span class="invoice-number"></span>
            </div>
            <div class="pdf-footer">
                <p>
                    Cash Receipting System<br />
                </p>
            </div>
            <div class="for">
                <h3>Summary report of the day</h3>
                <p>
                    Summary Date: <span class="selectedDate"></span>
                </p>
            </div>

            <div class="from" style="display: none">
            </div>
            <div class="pdf-body">
                <div id="grid"></div>
                <br/>
                <h4>Tenders</h4>
                <div id="tendersGrid"></div>
                <p class="signature">
                    Signature: ________________ <br /><br />
                    Generation Date: <span class="todayDate"></span>
                </p>
            </div>
        </div>
    </div>

    <div class="responsive-message"></div>

    <style>
        /*
                Use the DejaVu Sans font for display and embedding in the PDF file.
                The standard PDF fonts have no support for Unicode characters.
            */
        .pdf-page {
            font-family: "DejaVu Sans", "Arial", sans-serif;
        }
    </style>

    <script>
        // Import DejaVu Sans font for embedding

        // NOTE: Only required if the Kendo UI stylesheets are loaded
        // from a different origin, e.g. cdn.kendostatic.com
        kendo.pdf.defineFont({
            "DejaVu Sans": "~/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold": "~/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic": "~/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic": "~/fonts/DejaVu/DejaVuSans-Oblique.ttf"
        });
    </script>

    <!-- Load Pako ZLIB library to enable PDF compression -->
    <script src="~/Scripts/KendoUI2016.2.504/js/pako.min.js"></script>
    <script>
        var summaryGrid, tendersGrid;

        function printReport() {
            //check this link
            //http://docs.telerik.com/kendo-ui/controls/data-management/grid/print-export

            //var win = window.open('', '', 'width=800, height=500'),
            //doc = win.document.open();
            //doc.write($('.pdf-page').html());
            //doc.close();
            //win.print();
            var printContents = $('.pdf-page').html();
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            //document.body.innerHTML = originalContents;
            location.reload();
        }

        function getPDF(selector) {
            kendo.drawing.drawDOM($(selector))
                .then(function (group) {
                    kendo.drawing.pdf.saveAs(group, "Invoice.pdf");
                });
        }

        function getSelectedDate() {
            return kendo.toString($("#datepicker").data("kendoDatePicker").value(), "d");
        }

        $(document)
            .ready(function () {
                $('.todayDate').text(kendo.toString(new Date(), "d"));

                $("#datepicker")
                    .kendoDatePicker({
                        format: "MM/dd/yyyy",
                        value: new Date(),
                        change: function () {
                            var value = this.value();
                            $('.selectedDate').text(kendo.toString(value, "d"));
                            var grid = summaryGrid.data("kendoGrid");
                            grid.dataSource.read();
                            grid.refresh();

                            var tendersDataGrid = tendersGrid.data("kendoGrid");
                            tendersDataGrid.dataSource.read();
                            tendersDataGrid.refresh();
                        }
                    });

                var aggregate = [
                    { field: "Total", aggregate: "sum" }
                ];
                var columns = [
                    { field: "ReceiptNumber", title: "Receipt Number", width: 150 },
                    { field: "DepartmentName", title: "Department Name"},
                    {
                        field: "Total",
                        title: "Total",
                        width: 150,
                        aggregates: ["sum"],
                        footerTemplate: "Total: #=kendo.toString(sum, 'C')#",
                        format: "{0:n2}",
                        headerAttributes: { style: "text-align:right" },
                        attributes: { class: "text-right" }
                    }
                ];
                summaryGrid = $("#grid")
                    .kendoGrid({
                        editable: false,
                        sortable: true,
                        resizable: true,
                        reorderable: true,
                        dataSource: new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: '@Url.Action("DepartmentsSummary_Read", "SysReports")',
                                    dataType: "json",

                                },
                                parameterMap: function (options, operation) {
                                    if (operation === "read") {
                                        return { date: getSelectedDate() };
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 10,
                            serverPaging: false,
                            schema: {
                                data: "Data",
                                total: "Total",
                                model: {
                                    id: "DepartmentId",
                                    fields: {
                                        DepartmentId: {
                                            type: "number"
                                        },
                                        ReceiptNumber: {
                                            type: "number"
                                        },
                                        DepartmentName: {
                                            type: "string"
                                        },
                                        Total: { type: "number" }
                                    }
                                },
                                errors: "Errors"
                            },
                            aggregate: aggregate,
                            error: function (ee) {
                                if (ee.errors && ee.errors["_readKey"]) {
                                    notify.showError(ee.errors["_readKey"].errors[0]);
                                } else {
                                    notify.showError('An error has been occurred, please contact system admin.');
                                }
                                this.cancelChanges();
                            },
                            requestStart: function (e) {
                                $('.summaryLoading').show();
                            },
                            requestEnd: function (e) {
                                $('.summaryLoading').hide();
                            }
                        }),
                        columns: columns,
                        dataBound: function (e) {
                            $('.selectedDate').text(getSelectedDate());
                        }
                    });

                var tendersColumns = [
                    { field: "PaymentMethod", title: "Payment Method", width: 150 },
                    {
                        field: "TotalAmount",
                        title: "Total",
                        width: 150,
                        aggregates: ["sum"],
                        footerTemplate: "Total: #=kendo.toString(sum, 'C')#",
                        format: "{0:n2}",
                        headerAttributes: { style: "text-align:right" },
                        attributes: { class: "text-right" }
                    }
                ];
                tendersGrid = $("#tendersGrid")
                    .kendoGrid({
                        editable: false,
                        sortable: true,
                        resizable: true,
                        reorderable: true,
                        dataSource: new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: '@Url.Action("TendersSummary_Read", "SysReports")',
                                    dataType: "json",
                                },
                                parameterMap: function (options, operation) {
                                    if (operation === "read") {
                                        return { date: getSelectedDate() };
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 10,
                            serverPaging: false,
                            schema: {
                                data: "Data",
                                total: "Total",
                                model: {
                                    id: "PaymentMethodId",
                                    fields: {
                                        PaymentMethodId: {
                                            type: "number"
                                        },
                                        PaymentMethod:{type: "string"},
                                        TotalAmount: { type: "number" }
                                    }
                                },
                                errors: "Errors"
                            },
                            aggregate: [{ field: "TotalAmount", aggregate: "sum" }],
                            error: function (ee) {
                                if (ee.errors && ee.errors["_readKey"]) {
                                    notify.showError(ee.errors["_readKey"].errors[0]);
                                } else {
                                    notify.showError('An error has been occurred, please contact system admin.');
                                }
                                this.cancelChanges();
                            },
                            requestStart: function (e) {
                            },
                            requestEnd: function (e) {
                            }
                        }),
                        columns: tendersColumns,
                        dataBound: function (e) {
                        }
                    });

                $("#paper")
                    .kendoDropDownList({
                        change: function () {
                            $(".pdf-page")
                                .removeClass("size-a4")
                                .removeClass("size-letter")
                                .removeClass("size-executive")
                                .addClass(this.value());
                        }
                    });
            });
    </script>
</div>

@Html.Partial("_HighlightMenu", 5)
