<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cashreceipts.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>cashreceipts.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CashReceipts</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CashReceipts</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Rady" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rady1.database.windows.net,1433;Initial Catalog=CashReceipts;Integrated Security=False;User ID=abdelrady@rady1;Password=p@$$w0rd;Connect Timeout=30;Encrypt=True" Name="Server=tcp:rady1.database.windows.net,1433;Database=CashReceipts;User ID=abdelrady@rady1;Password=p@$$w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CashReceipts.Models.ApplicationDbContext, CashReceipts" MigrationConfiguration="CashReceipts.ApplicationDbContextConfiguration, CashReceipts" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HPDESKTOP" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HPDESKTOP\DEVEL;Initial Catalog=CashReceipts;Persist Security Info=True;User ID=sa;Password=Bella6969" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HPDESKTOP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Password=Bella6969;Persist Security Info=True;User ID=sa;Initial Catalog=CashReceipts;Data Source=HPDESKTOP\DEVEL;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HPDESKTOP-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Rady-Web.config Connection String">
      <ParameterValue>Server=tcp:rady1.database.windows.net,1433;Database=CashReceipts;User ID=abdelrady@rady1;Password=p@$$w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>